.modal-content {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px; 
    background-color: #fff; 
}
.hasError{
    color: rgb(255, 66, 66);
    margin-left: 10px;
}
form{
    width: 464px;
}

input {
    color: #036280;
}
.inputField {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    transition: border 0.3s, box-shadow 0.3s;
    width: 100%; 
}


input::placeholder {
    color: #999; 
}



.theme-btn {
    background-color: #036280;
    color: #fff; 
    transition: background-color 0.3s; 
}



.banner {
    margin-top: 20px; 
}

button {
    width: 100%; 
    padding: 20px; 
   
}