<br>
<br>
<div class="container">
    <form (ngSubmit)="submitBorrow()">
        <div class="section">
            <h1>Borrowing Information</h1>
            <h2>Borrow Dates</h2>
    
            <label for="borrowDate">Borrow Date:</label>
            <input type="date" id="borrowDate" [(ngModel)]="borrowDate" name="borrowDate" required (change)="calculateTotalPrice()">
            <span>Select the date you are borrowing.</span>
    
            <label for="returnDate">Return Date:</label>
            <input type="date" id="returnDate" [(ngModel)]="returnDate" name="returnDate" required (change)="calculateTotalPrice()">
            <span>Choose the date you will return the item.</span>
    
            <h3>Total Price: ${{ totalPrice }}</h3>
    
            <button type="submit" class="submit-button">Submit</button>
        </div>
    </form>

    <!-- <form>
        <div class="section">
            <h2>Payment Information</h2>
            <label for="totalCost">Total Borrowing Cost:</label>
            <input type="number" id="totalCost" placeholder="Enter total cost">
            <span>Enter the total amount you need to pay.</span>

            <label for="cardholderName">Cardholder Name:</label>
            <input type="text" id="cardholderName" placeholder="Enter cardholder name">
            <span>Enter the name on the card.</span>

            <label for="cardNumber">Card Number:</label>
            <input type="text" id="cardNumber" placeholder="XXXX-XXXX-XXXX-XXXX">
            <span>Enter your 16-digit card number.</span>

            <label for="expirationDate">Expiration Date:</label>
            <input type="text" id="expirationDate" placeholder="MM/YYYY">
            <span>Format: Month/Year.</span>

            <label for="cvv">Security Code (CVV):</label>
            <input type="text" id="cvv" placeholder="XXX">
            <span>Enter the 3-digit CVV code.</span>
        </div>
    </form> -->
    
    
</div>

<br>
<br>