<div class="shop-box-items">
    <div class="book-thumb center">
        <a routerLink="/bookDetails/{{Books_Obj.bookid}}"><img src="../../assets/Home/img/book/02.png" alt="img"></a>
        <ul class="shop-icon d-grid justify-content-center align-items-center">
            <li>
                <a (click)="addToFavorites(Books_Obj.bookid)">
                    <i  [ngClass]="isFavorite ? 'fa-solid fa-heart' : 'fa-regular fa-heart'"></i>
                  </a>
            </li>
            <li>
                <a href="shop-cart.html">
                    <img class="icon" src="../../assets/Home/img/icon/shuffle.svg" alt="svg-icon">
                </a>
            </li>
        
        </ul>
    </div>
    <div class="shop-content">
        <h3><a routerLink="/bookDetails/{{Books_Obj.bookid}}">{{Books_Obj.bookname}}</a></h3>
        <ul class="price-list">
            <li>${{Books_Obj.priceperday}}</li>
            <li>
                <i class="fa-solid fa-star"></i>
                3.4 (25)
            </li>
        </ul>
        <div class="shop-button">
            <a href="shop-details.html" class="theme-btn"><i class="fa-solid fa-basket-shopping"></i> More Details</a>
        </div>
    </div>
</div>
