.testimonial-form {
    max-width: 90%;
    
    margin: auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }


  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    font-size: 16px;
  }
  
  .star-rating {
    display: flex;
    cursor: pointer;
  }
  
  .star-rating span {
    font-size: 2rem;
    color: #ccc; 
    margin-right: 0.5rem;
    transition: color 0.2s ease;
  }
  
  .star-rating span.active {
    color: #ff6500;
  }
  
  .star-rating span:hover {
    color: #ff6500; 
  }
  
  .submit-button {
    background-color: #012e4a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .submit-button:hover:not(:disabled) {
    background-color: #ff6500;
  }
  