body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.form-container {
  width: 100%; /* جعل العرض 100% */
  max-width: 1200px; /* حد أقصى لعرض النموذج */
  padding: 20px;
  box-sizing: border-box;
}

form {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 100%; /* تأكد من أن النموذج يأخذ العرض بالكامل */
  box-sizing: border-box; /* يتضمن الحشو في العرض */
}

.column-left, .column-right {
  flex: 1 1 50%; /* جعل الأعمدة تأخذ 50% من العرض */
  padding: 10px;
  min-width: 300px; /* عرض الحد الأدنى لكل عمود */
  box-sizing: border-box; /* يتضمن الحشو في العرض */
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  background-color: #036280;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%; /* جعل زر الإرسال يأخذ عرض كامل */
}

button:hover {
  background-color: #FF6500;
}

.image-upload-container {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%; /* تأكد من أن حاوية رفع الصورة تأخذ العرض بالكامل */
}

.preview-container {
  margin-top: 20px;
}

.preview-image {
  max-width: 100%;
  max-height: 300px;
  border-radius: 4px;
}

  input{
    color: #333;
  }